@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Mukta:wght@400;700&display=swap');

.root
{
--primary-color:#F2C94C;
--secondary-color:#333333;
--width-break: 600px;
}
html{
    display: block;
}
body
{
    font-family:'Kalam', cursive;
    color: #333333;
    display: block;
 }
 .contents
 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
 
}
div
{
    display: block;
    box-sizing: border-box;
    border-color: #F2C94C;
}
#navigation
{
    background-color:#F2C94C;
    color: #333333;
    text-align: center;
    font-size: 2rem;
    display: block;
    padding: 1rem;
    box-sizing: border-box;
    height: 2.5em;
}

#txt-input
{
    padding: 1rem;
    margin-top:2rem;
    display: block;
    min-height: 15vh;
    width: 100%;
    font-family:'Kalam', cursive;
    text-align: start;
    font-size: large;
    margin-left: auto;
    margin-right: auto;


}
.container
{
    display: block;
}
#btn-translate
{

    display: block;
    background-color: #F2C94C;
    color: #333333;
    font-family: 'Kalam', cursive;
    padding: 1rem 2rem;
    margin: 1rem 0rem;
    border: none;
    font-size: large;
}
#translate-output
{
    padding: 1rem;
    font-size: large;
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 10vh;
    overflow: scroll;
    border: 1px solid black;
}

#footer
{
    background-color: #F2C94C;
    color: #333333;
    width: 100%;
    padding: 2rem;
    margin: 5rem 0rem;
    text-align: center;
    font-size: x-large;
}
p{
    font-size: medium;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer
{
  margin-top: 7rem;
  justify-content: center;
}
.copyright
{
    text-align: center;
    font-family: var(--font-two);
}
.footer .social
{
    text-align: center;
    padding-bottom: 10px;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    margin-bottom: 0.5rem;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    margin: 0.8px;
    opacity: 0.90;
}
.footer .social a:hover{
    background-color: white;
    border: 1px solid black;
}
.btn-translate:hover{
    background-color: black;
}